<div id="member-show">
  Name(sorted by last) - State - Party - % Voting with Party
  
    <p style="margin-left: 20px";><a href="/congress_members/show"><%= "#{member[:full_name]} - #{member[:state]} - #{member[:party]} - #{member[:votes_with_party_pct]}" %></a></p>
  <% end %>
  <%=  %>
</div>
